<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="sf.hackday.scanner.activities">
    
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="sf.hackday.scanner.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="sf.hackday.scanner.activities.InsuranceCardActivity"
            android:label="@string/insurance_label"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="sf.hackday.scanner.activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="sf.hackday.scanner.activities.MainActivity" />
        </activity>

        <activity android:name="sf.hackday.scanner.activities.VehicleCardActivity"
            android:label="@string/vehicle_label"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="sf.hackday.scanner.activities.VehicleCardActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="sf.hackday.scanner.activities.VehicleCardActivity" />
        </activity>
    </application>

</manifest>